
/*https://trello.com/b/wrefBhV1/website-activebox*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Raleway|Cardo:400i');


:root{
	--nav_height: 100px;
}
* {
	/*outline: 1px solid red;*/
}

*:focus {
	outline: none;
}
body {
	margin: 0;
}

header {
	height: 100vh; 
	background: #000 url('./images/header_bg.jpg') center/cover;
	position: relative;
	min-height: 550px;
}

.container {
	margin: 0 15%;
}

nav {
	height: var(--nav_height);
	line-height: var(--nav_height);
	border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

nav img {
	width: 150px;
	transform: translateY(25%);
}

nav ul {
	float: right;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: "Raleway";
	font-weight: bold;
	list-style: none;

}
nav ul li {
	display: inline-block;
	padding-left: 30px; 
}

nav ul li a {
	color: rgba(255, 255, 255, 0.749);
	padding: 10px 0 10px 20px;
	padding-right: 0;
	font-size: 11px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-decoration: none;
	transition: 0.4s;
}
nav ul li a:hover {
	color: #FFF;
	text-shadow: 0 0 2px;
}

.header-slogan {
	position: absolute;
	width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
	line-height: 1.092;
	font-size: 3.2rem;
	font-family: "Open Sans", sans-serif;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;

}

.header-text{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: #FFF;
	position: absolute;
	width: 950px;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -120%);
	text-align: center;
	line-height: 1.5;
}

.button {
	position: relative;
	border-radius: 2px;
	background-color: rgb(232, 69, 69);
	width: 200px;
	height: 46px;
	line-height: 1.615;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: background-color 0.5s, box-shadow 0.4s, text-shadow 0.4s;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.button:hover {
	box-shadow: 0 0 10px 2px rgba(235, 35, 35, 0.7);
	text-shadow: 0 0 2px #FFF;
    background-color: rgb(235, 35, 35);
}
.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.header-button {
	position: absolute;
	top: 83%;
	left: 50%;
	transform: translate(-50%, -150%);
}

/*_FEATURES*/

.features {
	padding: 20px 0;
}

.features > div {
	display: flex;
	align-items: center;
	margin: 30px 0;
}

.feature {
	margin: 10px;
	flex: 1;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.feature h4 {
	text-transform: uppercase;
	font-weight: bold;
}

/*_WORKS*/

.works-row {
	display: flex;
	height: 35vh;
	min-height: 200px;
}


[class^="works-photo"] {
	flex: 1;
	text-align: center;
	align-items: center;
	position: relative;
}

.work-container {
	opacity: 0;
	height: 100%;
	font-family: 'Raleway', sans-serif;
	color: #FFF;
}

.works-photo-1 > .work-container {background-color: #f6b93bAA}
.works-photo-2 > .work-container {background-color: #78e08fAA}
.works-photo-3 > .work-container {background-color: #e84545AA}
.works-photo-4 > .work-container {background-color: #4a69bdAA}
.works-photo-5 > .work-container {background-color: #78e08fAA}
.works-photo-6 > .work-container {background-color: #4a69bdAA}
.works-photo-7 > .work-container {background-color: #f6b93bAA}
.works-photo-8 > .work-container {background-color: #e84545AA}

[class^="works-photo"]:hover .work-container {
	transition: 0.3s;
	opacity: 1;
}

.work-container > h4{
	padding-top: 25%;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.works-photo-1 {background: #224 url("./images/work1.jpg") center/cover;}
.works-photo-2 {background: #224 url("./images/work2.jpg") center/cover;}
.works-photo-3 {background: #224 url("./images/work3.jpg") center/cover;}
.works-photo-4 {background: #224 url("./images/work4.jpg") center/cover;}
.works-photo-5 {background: #224 url("./images/work5.jpg") center/cover;}
.works-photo-6 {background: #224 url("./images/work6.jpg") center/cover;}
.works-photo-7 {background: #224 url("./images/work7.jpg") center/cover;}
.works-photo-8 {background: #224 url("./images/work8.jpg") center/cover;}

/*_TEAM*/

.team {
	display: flex;
	padding: 50px 0;
}

.person {
	flex:1;
	width: 200px;
	margin: 15px;
	/*margin: 20px;*/	
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

.person > img {
	width: 100%;
}


h3 {
	margin-bottom: 10px;
}


.job {
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 10px;
	color: #e84545;
}

.job-desc {
	font-family: 'Raleway', sans-serif;
}

.social-icons-person > .fab {
	border: 1px solid #c6cacc;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #c6cacc;
	transition: 0.5s;
}

.social-icons-person > .fab:hover {color: #FFF}
.social-icons-person > .fa-facebook-f:hover {background-color: #3B5998}
.social-icons-person > .fa-twitter:hover {background-color: #1DA1F2}
.social-icons-person > .fa-linkedin-in:hover {background-color: #000;}

/*CLIENTS*/

.clients {
	display: flex;
	height: 360px;
}

.clients > div {
	flex: 1;
}
.client-photo > img {width: 100%;height:100%; object-fit: cover}

.client-feedback {
	background-color: #53354a;
	color: #FFF;
	position: relative;
}

.client-quote{
	font-family: 'Cardo', serif;
	font-size: 28px;
	padding-right: 18%; 
	margin: 70px 80px 20px;
}

.client-cite{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	margin: 0 80px;
}
.kropeczki-jebane {
	text-align: center;
	margin: 0 80px;
	position: absolute;
	bottom: 15%;
	left: 30%;
}

.kropka {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	margin: 2px;
	opacity:0.4;
}
.kropka.kropka-active {
	opacity: 1;
}

/*_DOWNLOAD */
.download {
	margin:50px auto;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
.download-heading {
	font-weight: lighter;
	margin:70px 0 10px;
	font-size: 28px
}
.download-paragraph {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

.download-button {
	width: 300px;
	margin: 30px 0;
}

/*_FOOTER*/

footer {
	color: #FFF;
	text-align: center;
}

.footer-row {
	display: flex;
	background-color: #3a3e64;
}
.footer-row > div {
	flex: 1;
	padding: 40px 0 80px;
}
.footer-row > div > h4{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

footer p {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #9d9fb2;
}
.social-icons-footer .fab {
	border: 2px solid #c6cacc;
	border-radius: 2px; 
	width: 30px;
	height: 30px;
	line-height: 30px;
	transition: 0.8s;
}

.social-icons-footer > .fab:hover {background-color: #FFF}
.social-icons-footer > .fa-facebook-f:hover {color: #3B5998;border: 2px solid #3B5998}
.social-icons-footer > .fa-twitter:hover {color: #1DA1F2;border: 2px solid #1DA1F2}
.social-icons-footer > .fa-linkedin-in:hover {color: #000;border: 2px solid #000;}

.footer-rights {
	background-color: #313454;
	padding: 15px;
}

.footer-rights span {
	color: #FFF;
}

.fa-heart {color: #e84545}
.fa-html5 {color: #E44D26}
.fa-css3-alt{color: #2163AF}
.fa-js{color: #F7DF1E}

footer p {
	margin: 0;
	padding: 5px;
}

.name-animation {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	animation: footerNameAnimation 5s infinite;
}

.name-animation:hover {
	text-shadow: 0 0 2px #FFF;
}